.chart {
  &__header {
    text-align: center;
  }
  &__button {
    margin: 1rem;
    button {
      margin: 0 0.5rem;
    }
  }
  &__confirmChart {
    background: rgba(255, 7, 58, 0.2);
    border-radius: 5px;
    margin: 1rem 0;
  }
  &__activeChart {
    background: rgba(0, 123, 255, 0.2);
    border-radius: 5px;
    margin: 1rem 0;
  }
  &__recoveredChart {
    background: rgba(40, 167, 69, 0.2);
    border-radius: 5px;
    margin: 1rem 0;
  }
  &__deathChart {
    background: rgba(108, 117, 125, 0.2);
    border-radius: 5px;
    margin: 1rem 0;
  }
}
