.Home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  padding-top: 5rem;
  color: #6c757d;
}

.homeLeft {
  width: 30rem;
  margin: 0 2.5rem;
}

.homeRight {
  width: 30rem;
  margin: 0 2.5rem;
}
